**/*.csv
**/*.csv.gz
**/*.csv.zip
**/*.parquet
**/__pycache__
logs
**/logs
!dbt/logs
!dbt/bc_sales/logs
dbt/bc_sales/target
**/data
**/data/*
prefect/spark/.prefectignore
prefect/.prefectignore
prefect/gac.json
prefect/sales
prefect/*.yaml
prefect/**/*.yaml
prefect/__pycache__
prefect/**/__pycache__
terraform/.terraform*
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
